body {
    font-family: 'Verdana', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 90px;
    position: fixed;
    background-color: white;

}

header h1 {
    margin: 15px 0 0 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div#content {
    padding-top: 90px;
}

div#page h2 {
    margin: 0;
    padding: 0;
}

div.entry {
    margin-bottom: 30px;
}

div.image img {
    width: 100%;
    margin-bottom: 50px;
}

footer {
    font-size: 8px;
    color: lightgrey;
}
